@media only screen and (min-width: 200px) {

body {
    background-color: #F5F4F0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #808080;
}

img, video {
    max-width: 100%;
    height: auto;
}

h1, h2, nav {
    font-family: 'Bree Serif', serif;
}

h1 {
    font-size: 28px;
    color: #000000;
    margin: 0;
}

h2 {
    font-size: 22px;
    color: #000000;
}

header {
    background-color: #EAE8DF;
    border-top: 5px solid #D9D5C5;
    padding: 20px 0;
    overflow: auto;
    text-align: center;
}

.header__logo {
    margin:0 20px;
}

.header__navigation {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.navigation {
    list-style-type: none;
    text-transform: uppercase;
    font-size: 18px;
    padding: 0;
 }

.navigation__item {
    padding: 7px 0;
}

.navigation__item-link {
    color: #807B6C;
    text-decoration: none;
}

.navigation__item-link:hover {
    color: #cc0000;
}

.navigation__dropdown {
    background-color: #262626;
    display: none;
}

.navigation__dropdown-item {
    display: block;
}

.navigation__dropdown-item:hover {
    background-color: #cc0000;

}

.navigation__dropdown-item-link {
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    display: block;
    }

.navigation__item--has-dropdown:hover .navigation__dropdown {
    display: block;
}

.main__title {
    margin: 25px;
    text-transform: uppercase;
}

.title__subtext {
    font-size: 10px;
}

.article__sidebar {
    display: table;
}

.sidebar__img {
    box-sizing: border-box;
    border: 10px solid #D9D5C5;

}

.sidebar__img img, video {
    display: block;
}

.sidebar__ingredients {
    background-color: white;
    border: 10px solid #D9D5C5;
    padding: 20px;
    box-sizing: border-box;
}

.sidebar__video {
    display:none;
}

.sidebar__ingredients ul {
    list-style-type: square;
}

.article__content {
    display: table;
    background-color: white;
    margin-top: 15px;
    padding: 20px 40px;
    box-sizing: border-box;
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.25);
}

footer {
    clear: both;
    text-align: center;
    font-size: 12px;
    padding: 30px 0 10px 0;
}

}

@media only screen and (min-width: 465px) {

header {
    padding: 20px;
}

.navigation__item {
    display:inline-block;
    padding: 0 20px;
}

.navigation__dropdown {
    position: absolute;
}

}

@media only screen and (min-width: 600px) {

.sidebar__img {
    width: 48%;
    float: left;
}

.sidebar__ingredients {
    width: 50%;
    float: right;
}

}

@media only screen and (min-width: 800px) {

h1 {
    font-size: 40px;
}

h2 {
    font-size: 32px;
}

.title__subtext {
    font-size: 14px;
}

.main__title {
    margin: 50px;
}

header {
    padding: 50px 0;
}

.header__logo {
    float: left;
}

.header__navigation {
    float: right;
    margin-top: -10px;
}

.article__sidebar {
    width: calc(55% - 30px);
    float: left;
    display: block;
    margin: 0 10px 0 20px;
    box-sizing: border-box;
}

.sidebar__img {
    width: 100%;
    border: 10px solid #D9D5C5;
    float: right;
}

.sidebar__ingredients {
    background-color: white;
    border: 10px solid #D9D5C5;
    float: right;
    margin: 20px 0;
    padding: 20px;
    width: 75%;
}

.sidebar__video {
    background-color: white;
    border: 10px solid #D9D5C5;
    float: right;
    width: 75%;
    box-sizing: border-box;
    display:block;
}

.article__content {
    float: left;
    background-color: white;
    width: calc(45% - 30px);
    margin: 0 20px 0 10px;
    padding: 20px 40px;
    box-sizing: border-box;
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.25);
}

.content__video {
    display:none;
}

}

@media only screen and (min-width: 1200px) {

main {
    max-width: 1200px;
    margin: 0 auto;
}
   
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}
    
    
}